<html>
<head>
  <title>List a space | Murphy BnB</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
  <script src="/js/interface.js"> </script>
   <script src="/js/spaces.js"> </script>
  </head>
  <body>
    <h1>List a space</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <form>
        <label for="property_name"></label><input type="text" name="property_name" id="property_name" placeholder="Name of property" />
        <label for="property_description"></label><textarea name="property_description" id="property_description" placeholder="Description of property"></textarea>
        <label for="price_per_night"></label><input type="text" name="price_per_night" id="price_per_night" placeholder="Price per night" />
        <label for="available_from"></label><input type="text" name="available_from" id="available_from" placeholder="DD/MM/YYYY" />
        <label for="available_to"></label><input type="text" name="available_to" id="available_to" placeholder="DD/MM/YYYY" />
        <button type="button" name="listing_submit" id="listing_submit" value="List my space">List my space</button>
        </form>
    </body>
</html>
