<!DOCTYPE html>
<html>
  <head>
    <!-- Sundar changed the title below from Sign in Page to Sign Up Page -->
    <title>Sign Up Page | Murphy BnB</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
    <script src="/js/interface.js"> </script>
     <script src="/js/User.js"> </script>



  </head>
  <body>
    <!-- added sign in link for those who already have an account -->
    <a href="/sign_in">Log In</a>
    <h1>Sign up to Makers BnB</h1>
    <!-- DB/ZH 6/11 - added user form below -->
      <input id="email" type="email" name="email" placeholder="Email"/><br><br>
      <input id="password" type="password" name="password" placeholder="Password"/><br><br>
      <input id="password2" type="password" name="password confirmation" placeholder="Password Confirmation"/><br><br>
      <button id="signUp_submit">Sign Up</button>

    <!-- DB/ZH 6/11 - added user form above -->
  </body>
</html>
